<section class="u-clearfix u-section-1" id="sec-b509">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 *ngIf="!isEditando" class="u-align-center u-text u-title u-text-1">Añadir artista</h1>
      <h1 *ngIf="isEditando" class="u-align-center u-text u-title u-text-1">Editar artista</h1>
      <div class="u-form u-form-1">
        <form [formGroup]="agregarArtistaForm" action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
          <div class="u-form-group u-form-name u-form-partition-factor-2">
            <label for="name-bc20" class="u-label">Nombres</label>
            <input formControlName="nombre" type="text" placeholder="Introduzca el nombre del artista" id="name-bc20" name="nombre" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" maxlength="15">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-2">
            <label for="text-bfd3" class="u-label">Apellidos</label>
            <input formControlName="apellido" type="text" placeholder="Introduzca el apellido del artista" id="text-bfd3" name="apellido" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" maxlength="15">
          </div>
          <div class="u-form-group u-form-group-3">
            <label for="text-a899" class="u-label">Nombre artístico</label>
            <input formControlName="nombreArtistico" type="text" placeholder="Introduzca el nombre artístico del artista" id="text-a899" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" maxlength="15">
          </div>
          <div class="u-form-date u-form-group u-form-group-4">
            <label for="date-1460" class="u-label">Fecha de nacimiento</label>
            <input formControlName="fechaNacimiento"  type="date" placeholder="MM/DD/YYYY" id="date-1460" name="fechaNacimiento" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
          </div>
          <div class="u-form-group u-form-select u-form-group-5">
            <label for="select-84b9" class="u-label">Género</label>
            <div class="u-form-select-wrapper">
              <select formControlName="genero" id="select-84b9" name="genero" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                <option [ngValue]="null" disabled selected>Género</option> 
                <option *ngFor="let genero of generos" value="{{genero.id}}">{{genero.nombre}}</option>
              </select>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
            </div>
          </div>
          <div class="u-form-group u-form-select u-form-group-6">
            <label for="select-e0a4" class="u-label">País</label>
            <div class="u-form-select-wrapper">
              <select formControlName="pais" id="select-e0a4" name="pais" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                <option [ngValue]="null" disabled selected>País</option> 
                <option *ngFor="let pais of paises" value="{{pais.id}}">{{pais.nombre}}</option>
              </select>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
            </div>
          </div>
          <div class="u-align-center u-form-group u-form-group-6">
            <img id="imagenCargada" width="300px" src="assets/imagenes/ArtistaNulo.png">
          </div>
          <div class="u-align-center u-form-group u-form-group-6">
            <input formControlName="foto" type="file" (change)="onFileSelected($event)">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a *ngIf="!isEditando" (click)="agregar()" class="u-btn u-btn-submit u-button-style">Añadir</a>
            <a *ngIf="isEditando" (click)="editar()" class="u-btn u-btn-submit u-button-style">Editar</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>