<section class="u-clearfix u-section-1" id="sec-019b">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h1 class="u-align-center u-text u-title u-text-1">Historial de ventas</h1>
  </div>
</section>
<section class="u-clearfix u-section-2" id="sec-6ad5">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-custom-html u-custom-html-1">
      <input (input)="filtrar($event)" style="border-radius: 20px; width: 100%" type="text">
    </div>
  </div>
</section>

<mat-tab-group mat-align-tabs="start">
  <mat-tab  label="Artistas">
    <section *ngFor="let ventasArtista of ventasArtistasFiltradas" class="u-clearfix u-section-3" id="sec-51b5">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div style="background-image: url({{ventasArtista.foto}});"
                class="u-container-style u-image u-layout-cell u-size-28 u-image-1" data-image-width="1280"
                data-image-height="852">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-layout-cell u-size-32 u-layout-cell-2">
                <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-2">
                  <h4 class="u-align-center u-text u-text-1">{{ventasArtista.nombres}} {{ventasArtista.apellidos}}</h4>
                  <p class="u-align-justify u-text u-text-2">
                    <span style="font-size: 1.25rem;">Hay {{ventasArtista.ventasTotales}} ventas relacionadas al
                      artista:</span>
                    <br>
                  </p>
                  <ul class="u-align-left u-text u-text-3">
                    <li>{{ventasArtista.ventasDiscos}} ventas de discos</li>
                    <li>{{ventasArtista.ventasCanciones}} ventas de canciones</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-tab>

  <mat-tab  label="Discos">
    <section *ngFor="let ventasDisco of ventasDiscosFiltradas" class="u-clearfix u-section-3" id="sec-51b5">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div style="background-image: url({{ventasDisco.portada}});"
                class="u-container-style u-image u-layout-cell u-size-28 u-image-1" data-image-width="1280"
                data-image-height="852">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-32 u-layout-cell-2">
                <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-2">
                  <h4 class="u-text u-text-1">{{ventasDisco.nombre}}</h4>
                  <p style="width: 100%; margin-left: 0px;" class="u-align-center u-text u-text-2">
                    <span style="font-size: 1.25rem;">Este disco se ha vendido {{ventasDisco.ventas}} veces.</span>
                    <br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-tab>


  <mat-tab  label="Canciones">
    <section *ngFor="let ventasCancion of ventasCancionesFiltradas" class="u-clearfix u-section-3" id="sec-51b5">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div style="background-image: url({{ventasCancion.portada}});"
                class="u-container-style u-image u-layout-cell u-size-28 u-image-1" data-image-width="1280"
                data-image-height="852">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-32 u-layout-cell-2">
                <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-2">
                  <h4 class="u-text u-text-1">{{ventasCancion.nombre}}</h4>
                  <p style="width: 100%; margin-left: 0px;" class="u-align-center u-text u-text-2">
                    <span style="font-size: 20px;">Esta canción se ha vendido {{ventasCancion.ventas}} veces.</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-tab>

</mat-tab-group>