<section class="u-clearfix u-section-1" id="sec-2ec6">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-title u-text-1">Registro</h1>
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
          <div class="u-form-group u-form-name u-form-partition-factor-2">
            <label for="name-8165" class="u-label">Nombres</label>
            <input type="text" placeholder="Introduzca su nombre" id="name-8165" name="nombres" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" maxlength="15">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-2">
            <label for="text-798c" class="u-label">Apellidos</label>
            <input type="text" placeholder="Introduzca su apellido" id="text-798c" name="apellidos" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" maxlength="15" required="required">
          </div>
          <div class="u-form-email u-form-group">
            <label for="email-8165" class="u-label">Correo electrónico</label>
            <input type="email" placeholder="Introduzca una dirección de correo electrónico válida" id="email-8165" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" maxlength="50">
          </div>
          <div class="u-form-group">
            <label for="message-8165" class="u-label">Contraseña</label>
            <input placeholder="Introduzca su contraseña" rows="4" cols="50" id="message-8165" name="clave" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required" type="text" maxlength="15">
          </div>
          <div class="u-form-group u-form-group-5">
            <label for="text-0d5d" class="u-label">Repetir contraseña</label>
            <input type="text" placeholder="Repita su contraseña" id="text-0d5d" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" maxlength="15" required="required">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a href="#" class="u-btn u-btn-submit u-button-style">Registrarse<br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success">¡El registro ha sido exitoso!</div>
          <div class="u-form-send-error u-form-send-message">¡Corrija los campos erróneos!</div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>