<section class="u-clearfix u-section-1" id="sec-b509">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-title u-text-1">Añadir canción</h1>
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="name-bc20" class="u-label">Nombre</label>
            <input type="text" placeholder="Introduzca el nombre de la canción" id="name-bc20" name="nombre" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" maxlength="100">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-2">
            <label for="select-4d5c" class="u-label">Minutos</label>
            <div class="u-form-select-wrapper">
              <select id="select-4d5c" name="minutos" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
              </select>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
            </div>
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-3">
            <label for="select-6d57" class="u-label">Segundos</label>
            <div class="u-form-select-wrapper">
              <select id="select-6d57" name="segundos" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
                <option value="51">51</option>
                <option value="52">52</option>
                <option value="53">53</option>
                <option value="54">54</option>
                <option value="55">55</option>
                <option value="56">56</option>
                <option value="57">57</option>
                <option value="58">58</option>
                <option value="59">59</option>
              </select>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
            </div>
          </div>
          <div class="u-form-group u-form-select u-form-group-4">
            <label for="select-039b" class="u-label">Formato</label>
            <div class="u-form-select-wrapper">
              <select id="select-039b" name="formato" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                <option value=".mp3">.mp3</option>
                <option value=".wav">.wav</option>
                <option value=".ogg">.ogg</option>
              </select>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
            </div>
          </div>
          <div class="u-form-group u-form-group-5">
            <label for="text-84c7" class="u-label">Precio</label>
            <input type="text" placeholder="Introduzca el precio de la canción" id="text-84c7" name="precio" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
          </div>
          <div class="u-form-group u-form-textarea u-form-group-6">
            <label for="textarea-9066" class="u-label">Descripción</label>
            <textarea rows="4" cols="50" id="textarea-9066" name="descripcion" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" placeholder="Introduzca la descripción de la canción"></textarea>
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a href="#" class="u-btn u-btn-submit u-button-style">Añadir</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
          <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>